@model RealEstateSystem.Models.Land

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Land</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTimberLand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTimberLand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterWell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterWell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterWellAtNear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterWellAtNear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandForConstruction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandForConstruction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandIsArable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandIsArable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarthType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarthType.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
