@model IEnumerable<RealEstateSystem.Models.Property>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" dir="rtl">

    <h1 style="margin-top:150px">كل العقارات</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary mt-4" style="float:right;">إنشاء عقار جديد</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    عنوان العقار
                </th>
                <th>
                   السعر
                </th>
                <th>
                   المساحة
                </th>
                @*<th>
                   الوصف
                </th>*@
                <th>
                    الحي
                </th>
                <th>
                    نوع العقار
                </th>
                <th>
                   الحالة
                </th>
                <th>
                  نوع العقد
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Space)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.District.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PopertType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OperationType.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary " style="height:30px; width:50px; font-size:12px;">تعديل</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info " style="height:30px; width:65px; font-size:12px;">التفاصيل</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger " style="height:30px; width:50px; font-size:12px;">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
