@model IEnumerable<RealEstateSystem.Models.Property>




<div class="container" dir="rtl">
    <div class="row">

        <h1 style="padding-right:100px; margin-top:130px;">نتائج البحث </h1>
<h2 style="padding-right:75px">العقارات الموجودة @Model.Count()</h2>

        @foreach (var property in Model)
        {

            <div class="col-md-4 mt-4">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        @{
                            var image = "";
                            if (property.propertyImages.Any())
                            {
                                image = $"/Uploads/Properties/{property.propertyImages[0].imageUrl}";
                            }
                            else
                            {
                                image = "https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=20&m=922962354&s=612x612&w=0&h=f-9tPXlFXtz9vg_-WonCXKCdBuPUevOBkp3DQ-i0xqo=";
                            }
                        }
                        <img src="@image" class="img-a img-fluid" />

                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a asp-route-id="@property.Id" asp-action="SingleProperty">
                                        @property.Name

                                        @*  <br /> Olive Road Two*@
                                    </a>
                                </h2>
                                @*                                                <p style="color:white;">@property.PopertType.Name/@property.OperationType.Name</p>
                            *@
                                <p style="color:white;">  @property.Description</p>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <span class="price-a">@property.OperationType.Name| $ @property.Price </span>
                                </div>
                                <a asp-route-id="@property.Id" asp-action="SingleProperty" class="link-a">
                                    لمعرفة المزيد إضغط هنا
                                    <span class="bi bi-chevron-right"></span>
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title" style="color:white;">المساحة</h4>
                                        <span>
                                            @property.Space
                                            @*<sup>2</sup>*@
                                        </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title" style="color:white;">الحالة</h4>
                                        <span>@*@(property.Land!=null?property.Land.Width:0)*@ @property.PropertyStatus.Name</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title" style="color:white;">عدد الغرف</h4>
                                        <span>@(property.Home!=null?property.Home.RoomCount:0)</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title" style="color:white;">الصور</h4>
                                        <span>@property.propertyImages.Count()  </span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
