@model RealEstateSystem.Models.Advertising

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" dir="rtl">
<h1 style="margin-top:130px;"></h1>

<h3>هل أنت متأكد من حذف الإعلان؟</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            الصورة 
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Uploads/Advertisings/@Model.ImageURL" style="width:164px;" class="img-thumbnail"/>
        </dd>
        <dt class = "col-sm-2">
العنوان        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
الوصف        </dt>
        <dd class = "col-sm-10" style="f width:400px;">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
تاريخ النشر        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
      
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index1">العودة إلى قائمة الإعلانات</a>
    </form>
</div>
</div>