@model RealEstateSystem.Models.Advertising

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" dir="rtl">
<h1 style="margin-top:130px;">التفاصيل</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 mt-4">
           Image
        </dt>
        <dd class = "col-sm-10  mt-4">
          <img src="~/Uploads/Advertisings/@Model.ImageURL" style="width:164px;" class="img-thumbnail"/>
        </dd>
        <dt class = "col-sm-2  mt-4">
العنوان        </dt>
        <dd class = "col-sm-10  mt-4">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2  mt-4">
الوصف        </dt>
        <dd class = "col-sm-10  mt-4" style=" width:400px;">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2  mt-4 ">
تاريخ النشر        </dt>
        <dd class = "col-sm-10  mt-4">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
    
        @*<dt class = "col-sm-2  mt-4">
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd class = "col-sm-10  mt-4">
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">تعديل</a> |
    <a asp-action="Index1" class="btn btn-info">العودة إلى القائمة</a>
</div>
</div>