@model IEnumerable<RealEstateSystem.ViewModels.AdvertisigViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" dir="rtl">
    <h1 style="margin-top:130px;">إعلانات مميزة</h1>
    <div>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>

    <p>
        <a asp-action="Create" class="btn btn-primary" style="float:right">إنشاء إعلان جديد</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    صورة الإعلان
                </th>
                <th>
                    العنوان
                </th>
                <th >
                    الوصف
                </th>
                <th>
                    تاريخ النشر
                </th>

                <th>
                    اسم المعلن
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/Uploads/Advertisings/@item.ImageURL" style="width:64px;" class="img-thumbnail" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td style="font-size:14px; width:400px;">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUserName)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.Id" style="height:30px; width:50px; font-size:12px;">تعديل</a> |
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id" style="height:30px; width:65px; font-size:12px;">التفاصيل</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" style="height:30px; width:50px; font-size:12px;">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>